<h2 class="contact__tilte">Entre em contato</h2>
<section class="contact__container">
  <form class="contact-form">
    <input type="text" placeholder="Digite seu nome">
    <input type="assunto" placeholder="Digite o assunto">
    <input type="tel" placeholder="(00) 0 0000-0000">
    <input type="email" placeholder="Digite seu email">
    <textarea maxlength="300" placeholder="Digite a sua mensagem"></textarea>
    <button>Enviar</button>
  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14622.474516379418!2d-46.6362608!3d-23.6180066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5bee8a416b13%3A0xc8510c3f9534d242!2sProway!5e0!3m2!1sen!2sbr!4v1709517223135!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. X, Vila Sabrina, São Paulo - São paulo</p>
  </address>
</section>
